fastapi==0.115.0
uvicorn==0.30.6
pandas==2.2.3
python-dotenv==1.0.1
openai==1.51.2
httpx==0.27.2
azure-search-documents==11.5.1
azure-storage-blob==12.23.1
databricks-vectorsearch==0.67
databricks-sql-connector==4.0.5
DATABRICKS_SQL_HTTP_PATH=/sql/1.0/warehouses/2fa49ee1097660c6
